/* ----------
Global styles
---------- */
body {
	background-color: #383838;
	font-family: "Aleo Light", "Georgia", serif;
}

main {
	background: #f5993d;
}


/* ---
Header
--- */
.SS-header {
	background-color: #f5993d;
}

/* Logo */
.SS-logo {
	width: 10%;
	height: auto;
	margin-left: 1%;
	margin-top: 1%;
}

/* Titles */
h1.title {
	/*display: inline-block;*/
	margin: auto;
	width: 50%;
}
h2.sub-title {}

/* Logo */
.SS-logo {
	width: 10%;
	height: auto;
	margin-left: 1%;
	margin-top: 1%;
}

/* Your location? */


/* -------------
Search Container
------------- */
/* Container */
.search-container .search {
	overflow: hidden;
	border-radius: 10%;  /* Rounded corners */
    padding: 1%; 
    width: 25%;
    height: auto; 
}

/* Button and icon */
#icon {
    /* Color in MS paint? */
}
.search-container .search button {
	cursor: pointer;
	padding: 3%;
}
.search-container .search button:hover {
	background-color: #ccc;
}

/* Search bar */
#search-bar {
	background: #f5993d;             /* Background inside of input */
	padding: 5% 10%;                 /* Inner padding */
	border: none;                    /* Removes boarder */
	border-bottom: 2px solid black;  /* Adds underscore to search */
	outline: none;					 /* Removes blue outline on browser */
}
#search-bar:hover {
	background-color: orange;  /* ?? */
    boarder-radius: 10%;
}
input[type=text] {
	font-family: "Concert One", cursive, serif; /* find a search font */
	font-weight: bold;
}


