/* ----------
Global styles
---------- */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
	background-color: #383838;
	font-family: "Aleo Light", "Georgia", serif;
}
header {
    /* For non-supporters of radial gradients */
	background: #f5993d;
	/* Radial grad (just gradients wings since footer is a rectangle) */
	background: radial-gradient(circle, #f5993d, #383838);
	width: 100%;
	text-align: center;
	background-color: ;
}
footer {
    /* For non-supporters of radial gradients */
	background: #f5993d;
	/* Radial grad (just gradients wings since footer is a rectangle) */
	background: radial-gradient(circle, #f5993d, #383838);
	width: 100%;
	text-align: center;
	background-color: ;
    margin: 2.5%;
}
section {
    background: #f5993d;
    margin: 2.5%;
}
/* Titles */
h1.title {
	/*display: inline-block;*/
	margin: auto;
	width: 50%;
}
h2.sub-title {}

/* ----
SS Logo
---- */
.SS-logo {
    /* Position and size */
	width: 10%;
	height: auto;
	margin-left: 1%;
	margin-top: 1%;
    /* Presentation */
    border-radius: 50%;
}

/* -----------
Your location?
----------- */

/* -------------
Search Container
------------- */
/* Section */
.search-container {
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    /* Border */
    border: 3px inset black;
    border-radius: 10%;
}
.search-container .search {
	overflow: hidden;
    padding: 1% 0%;
}
/* Button and icon */
/*#search-icon {???}*/
.search-container .search button {
	cursor: pointer;
	padding: 3%;
    border-radius: 15%;
}
.search-container .search button:hover {
	background-color: #ccc;
}
/* Search bar */
.bar-container {
    /* Need? */
    display: inline-block;
}
#search-bar {
    font-family: "Concert One", cursive, serif; /* find a search font ?? */
    font-size: 130%;
    background: #f5993d;             /* Background inside of input */
	padding: 3% 5%;                 /* Inner padding */
	border: none;                    /* Removes boarder */
	outline: none;					 /* Removes blue outline on browser */
}
#search-bar:hover {
	background-color: orange;  /* ?? */
    boarder-radius: 10%;
    border-bottom: 2px solid black; /* Adds underscore to search on hover */
}


/* -----------------
Weather Display Tile
----------------- */
.weather-container {
    display: flex;
}
.weather-icon {
    width: 80%;
    height: auto;
    border: 1px solid white;
}