/** Header **/
.title {
	background-color: #f5993d;
}

/*** Search bar styling ***/

/* Search section */
.search {
	overflow: hidden;
	background-color: #f5993d;
}
/* Search div */
.search .search-container {
	float: left;
	background: #f5993d;
}

/* Button and hover*/
.search .search-container button {
	boarder: no;
	cursor: pointer;
}

.search .search-container button:hover {
	background-color: #ccc; 
}


/* Search text */

