/*** Search bar styling ***/

/* Search section */
.search {
	overflow: hidden;
	background-color: #f5993d;
}
/* Search div */
.search .search-container {
	float: left;
	background: #f5993d;
}

/* Input icon ?? */


/* Search text */

