<!DOCTYPE HTML>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="SunScan Weather Application to find the weather forcast in a city">
	<title>SunScanWeather App</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <header role="banner">
    <section class="header">
        <!-- logo here -->
        <h1 class="title">
            SunScan
        </h1>
    </section>
    <div class="search">
        <div class="search-container">
            <form>  <!-- some sort of action attribute? -->
                <input type="submit" id="icon"> <!-- Change this for search icon -->
                <input type="text" placeholder="Search for a city..." name="Search">
            </form>
        </div>
    </div>
    <footer class="footer">
    </footer>
</body>
</html>