<!DOCTYPE HTML>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="SunScan Weather Application to find the weather forcast in a city">
	<title>SunScanWeather App</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header role="banner">
    <div class="SunScan-header">
        <!-- div class top banner -->
        <img src="{% static 'images/SunScan-logo.png' %}">
        <h1 class="title">
            SunScan
        </h1>
        <!-- div class nav-->
            <!-- ul class="nav-set" - list and then format-->
    </div>
    <section>
        <div class="search"> <!-- class = container?? -->
            <div class="search-container">
                <form>  <!-- some sort of action attribute? -->
                    <button type="submit"><img src="{% static 'images/glyphicons-28-search.png' %}" class="icon"></button>
                    <input type="text" placeholder="Search for a city..." name="Search">
                </form>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="weather-tile">
                {{ city_weather.city }}
                <div class="icon">
                    <figure class="50x50-icon">
                        <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" alt="Image">
                    </figure>
                </div>
                <div class="temp">
                    {{ city_weather.temperature }}
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
    </footer>
</body>
</html>