<!DOCTYPE HTML>

{% load static %}

<html lang="en">

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="SunScan Weather Application to find the weather forcast in a city">
    <!-- Title -->
	<title>SunScanWeather App</title>
    <!-- Links -->
    <link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>

    <!-- Header -->
    <header role="banner">
    <div class="SS-header">
        <!-- div class top banner -->
        <img class="SS-logo" src="{% static 'images/SunScan-logo.png' %}">
        <h1 class="title"> SunScan </h1>
        <h2 class="sub-title"> A Django Web Application utilizing the Open Weather Map API </h2>

        <!-- Your location? -->

        <!-- Under banner for nav? -->
        <!-- div class nav-->
            <!-- ul class="nav-set" - list and then format-->
    </div>
    </header>

    <main>
        <!-- Container for the search button and bar -->
        <section class="search-container">
            <div class="search">
                <form>  <!-- some sort of action attribute? -->
                    <button type="submit"><img src="{% static 'images/glyphicons-28-search.png' %}" id="search-icon"></button>
                    <div class="bar-container">
                        <input type="text" placeholder="Search for a city..." name="Search" id="search-bar">
                    </div>
                </form>
            </div>
        </section>

        <!-- Weather tiles -->
        <section>
            <!-- Container for weather tile -->
            <div class="weather-container">
                <figure>
                    <img class="weather-icon" src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" alt="Image">
                </figure>
                <div class="city-name">
                    {{ city_weather.city }}
                </div>
                <div class="temp">
                    {{ city_weather.temperature }}
                </div>
            </div>

        </section>
    </main>

    <!-- // Footer & contact info -->
    <footer>
        <div class="content-wrap">
            <div class="designer">
                This application was designed by Dominic Eggerman
                <div class="designer-links">
                    Link to my website...
                    <a href="www.linkedin.com/in/dominiceggerman/">LinkdIn</a>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>